/hypr/scheme/current.conf

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/

*.bak
*.bak-*
*.backup-*
*.disabled-test
*broken-post-fork*
*pre-package-sync*
__pycache__/
*.py[cod]

.SRCINFO
