[Unit]
Description=Caelestia Link LAN transport
After=graphical-session.target network.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kdeconnectd --replace
Restart=on-failure
RestartSec=2
NoNewPrivileges=true

[Install]
WantedBy=default.target
